{% extends 'base.html' %}

{% block title %}จองสำเร็จ{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center m-5">
        <h2 class="text fw-bold ">จองหอพักภาคการศึกษาที่ 2/2564</h2>
        <h3 class="text fw-bold ">ชื่อ-นามสกุล:{{ user.get_full_name }}</h3>
        <h3 class="text fw-bold ">หอพัก:{{ room.floor.dorm_name }}</h3>
        <h3 class="text fw-bold">ชั้น:{{ room.floor.number }}</h3>
        <h3 class="text fw-bold">ห้อง:{{ room.room_id }}</h3>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary m-2" type="button">ยืนยัน</button>
            <button class="btn btn-primary m-2" type="button">ยกเลิก</button>
        </div>
    </div>
{% endblock %}