{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}ยืนยันการจองห้องพัก{% endblock %}

{% block content %}
    <div class="container justify-content-center">
        <form method="POST" action="{{ booking_confirm}}">
        {% csrf_token%}
        <p>ชื่อ: {{booking.user.get_full_name}}</p>
        <p>หอ: {{booking.room.floor.dorm_name}}</p>
        <p>ห้อง: {{booking.room.room_id}}
        <p>จองเมื่อวันที่ {{booking.booking_at}}</p>
        <p>คุณต้องการจองห้องพักนี้หรือไม่?</p>
        <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_confirmed" id="inlineRadio1" value="true">
            <label class="form-check-label" for="inlineRadio1">ยืนยัน</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_confirmed" id="inlineRadio2" value="false">
            <label class="form-check-label" for="inlineRadio2">ยกเลิก</label>
        </div>
        </div>
        
        <button type="submit" class="btn btn-success mt-4 justify-content-center" >ตกลง</button>
       </form>
    </div>
{% endblock %}


