{% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/pic/medpsu.png' %}" alt=""  height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">หน้าแรก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dorm' %}">หอพัก</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            รายละเอียดหอพัก
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for dorm in dorms %}

                            <li><a class="dropdown-item" href="#">{{ dorm.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">เกี่ยวกับ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ติดต่อ</a>
                    </li>

                </ul>
                <form class="d-flex form-inline mt-2 mt-md-0">
                    {% if request.user.is_authenticated %}
                        <p>{{ request.user }}</p>
                        <a href="{% url 'logout' %}" class="btn btn-outline-danger me-2 my-sm-0" type="button">ออกจากระบบ</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-success me-2 my-sm-0" type="button">เข้าสู่ระบบ</a> &nbsp;
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
