{% extends 'administer/base_admin_page.html' %}


{% block title %}หน้าจัดการผู้ใช้{% endblock %}

{% block main %}


<div class="row">
    <div class="col-sm-4">
        <div class="card text-center">
            <div class=" card-body">
                <h5 class="card-title ">ดูข้อมูลผู้ใช้งาน</h5>
                <p class="card-description"><i class="bi bi-book" style="font-size: 2rem;"></i></p>
                <a href="{% url 'user_groups'%}" class="btn btn-primary ">เลือก</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-center">
            <div class=" card-body">
                <h5 class="card-title">เปิดให้ผู้ใช้จองได้</h5>
                <p class="card-description"><i class="bi bi-person-lines-fill" style="font-size: 2rem;"></i></p>
                <a href="{% url 'user_manage'%}" class="btn btn-primary">เลือก</a>
            </div>
        </div>
    </div>

</div>



{% endblock %}