{% extends 'administer/base_admin_page.html' %}


{% block title %}หน้าจัดการผู้ใช้ตามกลุ่ม(เปิดจอง){% endblock %}

{% block main %}

    <!--เลือกกลุ่ม-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">เลือกกลุ่ม</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="group_id">กลุ่ม</label>
                                <form action="{% url 'user_manage' %}" method="post">
                                    {% csrf_token %}
                                    <select class="form-control" id="group_id" name="group_id">
                                        {% for group in groups %}
                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-primary mt-2">เลือก</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}