{% extends 'base.html' %}
{% load static %}
{% block title %}โปรไฟล์{% endblock %}

{% block content %}


    <p class="text-muted text-center h3 py-2"> Profile</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center py-5"><img src="{% static 'images/avatar/avatar.png' %}" alt="avatar"
                                                   width="200" height="250">
                </div>
                <p class="text-muted text-center ">เเก้ไขรูปภาพ</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <h5 class="card-title text-dark m-0">รหัสนักศึกษา</h5>
                    <p class="card-text m-2 ">6110210013</p>


                    <table class="table table-borderless m-0">
                        <thead>
                        <tr>
                            <th scope="col" >คำนำหน้า</th>
                            <th scope="col" >ชื่อ (ภาษาไทย)</th>
                            <th scope="col">นามสกุล</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>นาย</td>
                            <td>
                                <div class="form-group col-7">
                                    <input type="text" class="form-control" id="name" placeholder="สมมุติ">
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-7">
                                    <input type="text" class="form-control" id="name" placeholder="ไม่มีจริง">
                                </div>
                            </td>
                        </tr>
                        </tbody>

                        <thead>
                        <tr>
                            <th scope="col"  >Name Title</th>
                            <th scope="col"  >Firstname</th>
                            <th scope="col"  >Lastname</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Mr.</td>
                            <td>
                                <div class="form-group col-7">
                                    <input type="text" class="form-control" id="name" placeholder="Sommud">
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-7">
                                    <input type="text" class="form-control" id="name" placeholder="Maimeejing">
                                </div>
                            </td>
                        </tr>
                        </tbody>

                        <thead>
                        <tr>
                            <th scope="col">วัน/เดือน/ปีเกิด</th>
                            <th scope="col">เพศ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-group">

                                    <input class="form-control  " type="date" value="2011-08-19"
                                           id="example-date-input" >
                                </div>
                            </td>
                            <td>ชาย</td>
                        </tr>
                        </tbody>

                        <thead>
                        <tr>
                            <th scope="col" >เบอร์โทรศัพท์</th>
                            <th scope="col">บัญชีธนาคาร</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-group col-6 ">
                                    <input type="text" class="form-control" id="name" placeholder="0633920820"
                                           style="height:30px;">
                                </div>

                            </td>
                            <td>
                                <div class="form-group col-6">
                                    <input type="text" class="form-control" id="name" placeholder="123-223-3333-3"
                                           style="height:30px;">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">

                    <div class="mt-3 ">
                        <input type="submit" style="padding-top: 2px;" class="btn btn-primary fw-bold py-2 me-5 "
                               value="บันทึก">
                        <input type="submit" style="padding-top: 2px;" class="btn btn-secondary fw-bold py-2 me-5 "
                               value="ยกเลิก">
                    </div>


                </div>
            </div>

        </div>
{% endblock %}