{% load static %}
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">

            <img class="rounded float-start me-4" src="{% static 'images/pic/Logo-PSU-EH-01.png' %}"
                 style="height:120px; width: 200px">


            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-link active">
                        <a class="nav-link active" href="#">หน้าเเรก</a>
                    </li>
                    <li class="nav-link active">
                        <a class="nav-link active" href="#">จองหอพัก</a>
                    </li>

                    <div class="dropdown mt-2">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                           รายละเอียดหอพัก
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">หอบินหลา4</a></li>
                            <li><a class="dropdown-item" href="#">หอบินหลา6</a></li>
                            <li><a class="dropdown-item" href="#">หอบินหลา7</a></li>
                        </ul>
                    </div>
                    <li class="nav-link active">
                        <a class="nav-link active" href="#">เกี่ยวกับ</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn  btn-outline-success me-4" type="button"> เข้าสู่ระบบ</button>
                    <button class="btn  btn-outline-danger me-4" type="button"> ออกจากระบบ</button>
                </form>
            </div>
        </div>
    </nav>
</header>