{% extends 'base.html' %}


{% block title %}หน้าติดต่อ{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">ติดต่อเรา</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <h3>ชั้น 7 อาคารแพทยศาสตรศึกษา ราชนครินทร์</h3>
                            <p>ตำบลคอหงส์ อำเภอหาดใหญ่</p>
                            <p>จังหวัดสงขลา</p>
                            <p>90110</p>
                            <p>โทรศัพท์ : 074-451545</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







{% endblock %}