{% extends "base.html" %}

{% block title %}ห้องพักทั้งหมด{% endblock %}
{% block css_file %}
    <style>
        .btn-room {
            width: 100px;
            margin-right: 20px;
            font-size: larger;
            padding-top: 8px;
            padding-bottom: 0px;
            padding-left: 8px;
            padding-right: 8px;
        }

        #text-amount {
            color: red;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="container">
        <p class="text-dark  h1 py-2"> เลือกห้องพัก</p>

        <div class="row" style="overflow-y: scroll; height: 60vh;">

            {% for floor in floors %}
                <h3 class="font-weight-bold my-3"> ชั้นที่:{{ floor.number }} </h3>

                <div class="row justify-content-center ">
                    {% for room in floor.floor.all %}
                        <div class="col " style="margin: 3px">
                            <a href="#" class="btn btn-secondary text-wrap btn-room mt-3" role="button">{{ room.room_id }}<p id="text-amount">({{ room.amount }})</p>
                        </a></div>
                    {% endfor %}
                </div>

            {% endfor %}


        </div>





{% endblock %}