{#หน้านี้ไว้สำหรับแสดงรายละเอียดหอพัก#}
{% extends "base.html" %}
{% block title %}รายละเอียดหอพัก{% endblock %}

{% block content %}
<!--แสดงรายละเอียดหอพัก-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>หอพักบินหลา</h1>
            <img src="https://dorm.psu.ac.th/system/files/37721566_514963275601781_578180160855998464_n.jpg"
                class="img-responsive" alt="Responsive image">
            <p>หอพักนักศึกษาอาคาร 1 (ปีก B-C)</p>
            <img src="https://dorm.psu.ac.th/system/files/%E0%B8%AB%E0%B8%AD%E0%B8%9E%E0%B8%B1%E0%B8%81%E0%B8%99%E0%B8%B1%E0%B8%81%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2%E0%B8%8A%E0%B8%B2%E0%B8%A2%E0%B8%AD%E0%B8%B2%E0%B8%84%E0%B8%B2%E0%B8%A3_1.jpg"
                class="img-responsive" alt="Responsive image">
        </div>
    </div>
</div>



{% endblock %}