{% extends "base.html" %}
{% load static %}

{% block title %}หอพัก{% endblock %}

{% block content %}

{% if opening_booking%}
{% if opening_booking.is_open and not user_is_booking_state %}
{% if dormitorys %}
<section>
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for dormitory in dormitorys %}

            <div class="col">
                <div class="card h-100">
                    {% if dormitory.images %}
                    <img src="{{ dormitory.images.url }}" class="card-img-top " alt="..."
                        style="width: 100%; height: 10em;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ dormitory.name }} </h5>
                        <div class="card-footer bg-transparent border-success text-center">
                            ห้องว่าง:<span class="badge bg-success">{{ dormitory.is_room_available }} </span>
                        </div>
                        <a href="{% url "room-name" dormitory.name %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        ไม่มีข้อมูลในขณะนี้
        {% endif %}
        {%else %}
        <!--This period is not available for reservation/ The student’s name is not listed in the reservation group-->
        <div class="container justify-content-center mt-5">
            <div class="alert alert-warning alert-dismissible p-5" role="alert">
                <p class="fs-3 text-center text-danger">This period is not available for reservation/ The student’s name
                    is not listed in the reservation group</p>
            </div>
        </div>

        {%endif%}

        {%else%}
        <h1 class="text text-danger text-center mt-5">ไม่มีข้อมูลในขณะนี้</h1>
        {%endif%}





</section>
{% endblock %}